body {
  margin: 0;
  padding: none;
}

#top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border-style: dashed;
}

#top-menu p {
  padding-right: 20px;
}

#top-menu img {
  width: 15%;
  padding-left: 20px;
}

#top-menu > :first-child {
  border-radius: 50%;
  padding-left: 20px;
}

h1 {
  font-family: 'Days One', sans-serif;
}
